body#homePage {

    footer {
        background-color: #1d2027;
        padding: 1rem 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }



}

body#contact {

    footer {
        background-color: #1d2027;
        padding: 1rem 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

}

body#about {

    footer {
        background-color: #1d2027;
        padding: 1rem 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

}