body#homePage {
    header {
        background-color: #1d2027;
        padding: 1rem 0;
        text-align: center;
    }

    header h1 {
        color: #ebcb8b;
    }

    nav {
        background-color: #2e3440;
        padding: 0.5rem 0;
        text-align: center;
    }

    nav a {
        color: #d8dee9;
        text-decoration: none;
        margin: 0 0.75rem;
    }
}

body#contact {
    header {
        background-color: #1d2027;
        padding: 1rem 0;
        text-align: center;
    }

    header h1 {
        color: #ebcb8b;
    }

    nav {
        background-color: #2e3440;
        padding: 0.5rem 0;
        text-align: center;
    }

    nav a {
        color: #d8dee9;
        text-decoration: none;
        margin: 0 0.75rem;
    }

    main {
        margin: auto;
        padding: 2rem;
        text-align: center;
    }



}

body#about {
    header {
        background-color: #1d2027;
        padding: 1rem 0;
        text-align: center;
    }

    header h1 {
        color: #ebcb8b;
    }

    nav {
        background-color: #2e3440;
        padding: 0.5rem 0;
        text-align: center;
    }

    nav a {
        color: #d8dee9;
        text-decoration: none;
        margin: 0 0.75rem;
    }

}