<div id="headerContent">
  <h1>
    <a href="/">Sequoyah <span id="nameAccent">Geber</span></a>
  </h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/epub">Epub Viewer</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
    </ul>
  </nav>
  <div id="mobileMenuWrapper">
    <img id="menuIcon" src="images/menu.svg" alt="" />
    <div id="mobileMenu" style="display: none">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/epub">Epub Viewer</a></li>

        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
      </ul>
    </div>
  </div>
</div>
<script>
  document.getElementById("menuIcon").addEventListener("click", () => {
    if (document.getElementById("mobileMenu").style.display === "none") {
      document.getElementById("mobileMenu").style.display = "block";
    } else {
      document.getElementById("mobileMenu").style.display = "none";
    }
  });
</script>
