<div id="viewer"></div>
<script>
  function renderBook(bookPath) {
    let viewer = document.getElementById("viewer");
    let bookURL = `https://sequoyahgeber.com/books/${bookPath}`;
    let book = ePub(bookURL);
    let rendition = book.renderTo("viewer", {
      method: "default",
      width: "100%",
      height: "100%",
    });
    let displayed = rendition.display();
  }
</script>
