<div id="resumeContainer">
  <h1>Sequoyah Geber</h1>

  <h2>SUMMARY</h2>
  <p>
    A driven post-secondary student eager to learn and work as part of a team.
    Experienced in managing and delegating a team, as well as thorough knowledge
    of computers both physical and software.
  </p>

  <h2>WORK EXPERIENCE</h2>

  <h3>Lifeguard Supervisor - RDCK, 03/2024 - Present</h3>
  <p>
    Responsible for the supervision of staff and the safety of patrons using the
    facility. Responsible for supervising and monitoring pool use to ensure that
    the daily operation is following the departmental policies and safety
    standards. Ensuring a safe and enjoyable experience for patrons and
    employees. Responsible for any incidents and all first-aid situations in the
    building.
  </p>

  <h3>Lifeguard and Swim Instructor - RDCK, 09/2022 - Present</h3>
  <p>
    Ensuring a safe and enjoyable environment for all patrons, providing
    assistance and first-aid when necessary. Teaching swim lessons to all ages
    and swimming capabilities.
  </p>

  <h3>Cashier - Sobeys, 09/2022 - 12/2022</h3>
  <p>
    Collecting payments by accepting cash, check, charging payments from
    customers and making change for customers.
  </p>

  <h3>
    Dishwasher/prep - Port701 Marinaside Dining | Lounge, 07/2021 - 12/2021
  </h3>
  <p>
    Dishwashing and food prep, general maintenance (sweeping, mopping and taking
    out garbage), helping front of house staff, organizing dishes and cutlery.
  </p>

  <h3>Nelson Medical Clinic - 12/2020 - 03/2021</h3>
  <p>
    General help, organizing medical supplies, transporting and organizing
    patient charts, sanitizing and organizing exam rooms, washing and folding
    laundry.
  </p>

  <h2>EDUCATION</h2>
  <ul>
    <li>
      <p>LVR Secondary</p>
      <p>September 2019 - June 2023</p>
      <p>Grade 12 French immersion and AP student, graduated with honors.</p>
    </li>
    <li>
      <p>Selkirk College</p>
      <p>September 2023 - April 2024</p>
      <p>Full Stack Web Development Program.</p>
    </li>
  </ul>

  <h2>CONTACT</h2>
  <p>Sequoyahgeber@gmail.com</p>
  <p>(250) 505-6993</p>
  <p>619 Johnstone Rd, Nelson, BC, V1L6H8</p>

  <h2>SKILLS</h2>
  <ul>
    <li>Fast learner</li>
    <li>Punctual</li>
    <li>Reliable</li>
    <li>Helpful</li>
    <li>Social and friendly</li>
    <li>Linux, Windows and Unraid management</li>
  </ul>

  <h2>CERTIFICATIONS</h2>
  <ul>
    <li>Standard First-Aid w/CPR-C</li>
    <li>National Lifeguard (Lifesaving Society)</li>
    <li>Swim Instructor (Lifesaving Society)</li>
    <li>SEE Audit (Lifesaving Society)</li>
    <li>Bronze Cross (Lifesaving Society)</li>
    <li>Bronze Medallion (Lifesaving Society)</li>
    <li>Babysitting course (Red Cross)</li>
  </ul>

  <h2>REFERENCES</h2>
  <p>Rob Andersen: 250-551-5182</p>
  <p>Kurt Beerens: 250-777-3664</p>

  <h2>LANGUAGES</h2>
  <p>English - First Language</p>
  <p>French - Intermediate</p>
  <p>Japanese - Elementary</p>
</div>
