<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>
<body>
  <header><%- include('partials/header') %></header>
  <main id="epubMain">
    <div id="contentWrapper">
      <div id="uploadFilesDiv">
        <form id="uploadForm" enctype="multipart/form-data">
          <input type="file" id="fileInput" name="epubFile" />
          <button type="submit">Upload</button>
        </form>
      </div>
      <div id="readFilesDiv"><%- include('partials/readFiles') %></div>
    </div>

    <div id="renderBookContainer"><%- include('partials/renderBook') %></div>
  </main>
  <footer><%- include('partials/footer') %></footer>
  <script>
    document
      .getElementById("uploadForm")
      .addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the default form submission

        var formData = new FormData(this); // Create FormData object to send the file
        fetch("/upload", {
          method: "POST",
          body: formData,
        })
          .then((response) => {
            if (response.ok) {
              console.log("File uploaded successfully!");
              readFiles();
            } else {
              console.error("File upload failed:", response.statusText);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });

    //Delete the cookie when the page gets refreshed
    window.addEventListener("beforeunload", function () {
      document.cookie =
        "fileName=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      fetch;
    });
  </script>
</body>
