<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body id="homePage">
    <header><%- include('partials/header') %></header>
    <main>
      <a href="/epub" style="background: url('../images/books.jpg')"
        ><div id="transparent"><h2>Epub Viewer</h2></div>
      </a>
      <a href="/about" style="background: url('../images/about.jpg')">
        <div id="transparent"><h2>About</h2></div>
      </a>
      <a href="/blog" style="background: url('../images/blog.jpg')">
        <div id="transparent"><h2>Blog</h2></div>
      </a>
      <a href="/portfolio" style="background: url('../images/portfolio.jpg')">
        <div id="transparent"><h2>Portfolio</h2></div>
      </a>
      <a href="/learnKanji" style="background: url('../images/kanji.png')">
        <div id="transparent"><h2>Kanji Flashcards</h2></div>
      </a>
      <a href="/learnGrammar" style="background: url('../images/grammar.jpg')">
        <div id="transparent"><h2>Grammar Flashcards</h2></div>
      </a>
    </main>
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
