<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title of the page -->
    <title>Manage Posts</title>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link to favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body id="manage">
    <!-- Header section -->
    <header><%- include('partials/header') %></header>
    <!-- Main content section -->
    <main>
      <div id="managePosts">
        <!-- Create Post section -->
        <div id="createPost"><%- include('partials/blogTemplate') %></div>
      </div>
      <!-- Sidebar section to render blogs -->
      <aside id="posts"><%- include('partials/renderBlogs') %></aside>
    </main>
    <!-- Footer section -->
    <footer><%- include('partials/footer') %></footer>

    <!-- JavaScript script -->
    <script>
      // Execute when DOM content is loaded
      document.addEventListener("DOMContentLoaded", () => {
        // Delay execution of addButtons function to ensure elements are rendered
        setTimeout(addButtons, 250);

        // Event listener for creating a post
        document
          .getElementById("submitPost")
          .addEventListener("click", (event) => {
            event.preventDefault();
            const title = document.getElementById("title").value;
            const content = document.getElementById("content").value;

            // Fetch request to create a new post
            fetch("/createPost", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ title, content }),
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error("Network response was not ok");
                }
                return response;
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });
      });

      // Function to add update and delete buttons to each post
      function addButtons() {
        const postElements = document.querySelectorAll(".post");

        postElements.forEach((postElement) => {
          const postId = postElement.id;
          const postsDiv = document.createElement("div");

          // Create update button
          const updateButton = document.createElement("button");
          updateButton.textContent = "Update";
          updateButton.id = `${postId}-update`;

          // Create delete button
          const deleteButton = document.createElement("button");
          deleteButton.textContent = "Delete";
          deleteButton.id = `${postId}-delete`;
          deleteButton.classList.add("deleteButton");

          // Append buttons to post element
          postsDiv.appendChild(updateButton);
          postsDiv.appendChild(deleteButton);
          postElement.appendChild(postsDiv);

          // Event listener for update button
          updateButton.addEventListener("click", (event) => {
            event.preventDefault();
            let postId = event.srcElement.id;
            // Extract postId from button id
            postId = postId.endsWith("-update") ? postId.slice(0, -7) : postId;
            postId = postId.startsWith('"') ? postId.slice(1) : postId;
            postId = postId.endsWith('"') ? postId.slice(0, -1) : postId;

            // Redirect to update page with postId as query parameter
            fetch(`/update?postId=${postId}`)
              .then((response) => {
                if (response.ok) {
                  window.location.href = "/update";
                } else {
                  console.error("Failed to redirect to update page.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });

          // Event listener for delete button
          deleteButton.addEventListener("click", (event) => {
            event.preventDefault();
            let postId = event.srcElement.id;
            // Extract postId from button id
            postId = postId.endsWith("-delete") ? postId.slice(0, -7) : postId;
            postId = postId.startsWith('"') ? postId.slice(1) : postId;
            postId = postId.endsWith('"') ? postId.slice(0, -1) : postId;

            // Fetch request to delete post
            fetch("/deletePost", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ postId }),
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error("Network response was not ok");
                }
                return response;
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });
        });
      }
    </script>
  </body>
</html>
