$headerBackgroundColor: #1a273a;
$color2: #333c4c;
$color3: #3b4458;
$color4: #444d63;
$color5: #d8dee9;
$color6: #e5e9f0;
$color7: #eceff4;
$color8: #8fbcbb;
$color9: #88c0d0;
$color10: #81a1c1;
$color11: #5e81ac;
$color12: #bf616a;
$color13: #d08770;
$accent1: #ebcb8b;
$color15: #a3be8c;
$color16: #b48ead;

$bodyBackgroundColor: #303d57;